[Unit]
Description=Start dev session (tmux + browser)

After=graphical-session.target dbus.service xdg-desktop-portal.service
Wants=graphical-session.target xdg-desktop-portal.service

[Service]
Type=simple
ExecStart=%h/.config/hypr/scripts/sessions/dev-sessions.sh
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_CURRENT_DESKTOP=Hyprland

[Install]
WantedBy=default.target
