[Unit]
Description=Open Foot attached to tmux
After=tmux-session.service
Requires=tmux-session.service

[Service]
Type=simple
ExecStart=/usr/bin/foot -e tmux attach -t main

[Install]
WantedBy=graphical-session.target
