[Unit]
Description=Timer for Dotfiles Sync

[Timer]
# First run 5 min after login
OnBootSec=5min
# Repeat every 2 hours
OnUnitActiveSec=2h
Persistent=true

[Install]
WantedBy=default.target
