[Unit]
Description=Sync Dots
After=graphical-session.target import-env.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sleep 5 && %h/.config/hypr/scripts/update-dots.sh"

[Install]
WantedBy=default.target
