[Unit]
Description=Start Tmux Session
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -A -d -s main

[Install]
WantedBy=default.target
