[Unit]
Description=Start Tmux Session
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=kitty tmux new-session -A -s main

[Install]
WantedBy=graphical-session.target
