[Unit]
Description=Start Tmux Session
After=graphical-session.target

[Service]
Type=oneshot
EnvironmentFile=%h/.config/defaults.conf
ExecStart=sh -c '$TERMINAL tmux new-session -A -s main'

[Install]
WantedBy=graphical-session.target
